body{
    background-color: #fff;
    font-family: 'Raleway';
}
.navbar-brand span{
    color: #8167a9;
}
.navbar-brand{
    font-family: 'Great Vibes';
    font-weight: 800px;
}
.navbar{
    position: fixed;
    width:100%;
    z-index: 1;
    top:0;
    border-bottom: #1f2029;
    color: #fff;
}
.intro{
    margin-top: 210px;
}
.intro img {
    position: absolute;
	height: 300px;
	width: 300px;
	object-fit: cover;
    border-radius: 50%;
    left: 0;
    right: 0;
	margin: 0 auto;
    border: #1f2029;
}
.intro h1 span{
    color: #8167a9;
}
.intro h1{
    font-family: 'Great Vibes';
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-top: 340px;
    position: absolute;
    text-align: center;

}
.about h1 span{
    color: #8167a9;
}
.about h1{
    font-family: 'Great Vibes';
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-top: 580px;
    position: absolute;
    text-align: center;
}
.about .card{
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 640px;
    text-align: center;
}
.experience h1 span{
    color: #8167a9;
}
.experience h1{
    font-family: 'Great Vibes';
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-top: 1000px;
    position: absolute;
    text-align: center;
}
.experience .accordion{
    max-width: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 1060px;
    text-align: center;
    background-color: transparent;
    border: none;
}
.experience h2{
    font-weight: 100;
	font-size: 20px;
	line-height: 1;
	color: #1f2029;
	text-align: center;
}
.experience h4{
	color: #8167a9;
	font-size: 20px;
	margin-top: 20px;
}

.education .card-body{
    border: #1f2029;
    padding: 30px;
}
.education .card{
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 1750px;
    text-align: center;
    width: 300px;
    height: 200px;
    align-items: center;
}
.education h1{
    font-family: 'Great Vibes';
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-top: 1700px;
    position: absolute;
    text-align: center;
}
.education h2{
    font-weight: 100;
	font-size: 20px;
	line-height: 1;
	color: #1f2029;
	text-align: center;
}
.education h4{
	color: #8167a9;
	font-size: 20px;
	margin-top: 20px;
}
.education h1 span{
    color: #8167a9;
}
.skills h1 span{
    color: #8167a9;
}
.skills h1{
    font-family: 'Great Vibes';
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-top: 300px;
    position: absolute;
    text-align: center;
}
.container{
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 380px;
    position: absolute;
    text-align: center;
}
.tooltip{ 
    position:relative;
    float:right;
  }
  .tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
  .popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}
  
  section{
    margin:0 auto; 
    height:1000px;
    left: 0;
    right: 0;
  }
  .progress{
    border-radius:50px;
    overflow:visible;
    border: 50px;
    height: 10px;
    width: 500px;
  }
  .progress-bar{
     background: #8167a9; 
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
    border-radius: 50px;
  }
.frame-btn {
	margin-top: 5px;
	line-height: 10px;
	display: inline-block;
	padding: 25px 25px;
	font-size: 8px;
	letter-spacing: 3px;
	text-decoration: none;
	position: relative;
  }
  .frame-btn__text {
	color: #1f2029;
	text-transform: uppercase;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
	position: relative;
  }
  .frame-btn:hover .frame-btn__text {
	color: #8167a9;
  }
  .frame-btn__solid {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	background-color: #fff;
	width: calc(100% - (5px * 4));
	height: calc(100% - (5px * 4));
	-webkit-transform-origin: 50%;
			transform-origin: 50%;
	-webkit-transform: scale(0.85);
			transform: scale(0.85);
	opacity: 0;
	-webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .frame-btn:hover .frame-btn__solid {
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1);
  }
  .frame-btn__outline {
	position: absolute;
	top: 0;
	left: 0;
  }
  .frame-btn__outline--tall {
	margin: 0 5px;
	width: calc(100% - (5px * 2));
	height: 100%;
  }
  .frame-btn__outline--flat {
	margin: 5px 0;
	height: calc(100% - (5px * 2));
	width: 100%;
  }
  .frame-btn__line {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  }
  .frame-btn__line--tall:before, .frame-btn__line--tall:after {
	height: 100%;
	width: 1px;
	top: 0;
  }
  .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:after {
	-webkit-transform: scaleY(0);
			transform: scaleY(0);
  }
  .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:after {
	margin: 5px 0;
	height: calc(100% - (5px * 2));
  }
  .frame-btn__line--tall:before {
	left: 0;
  }
  .frame-btn__line--tall:after {
	right: 0;
  }
  .frame-btn__line--flat:before, .frame-btn__line--flat:after {
	width: 100%;
	height: 1px;
	left: 0;
  }
  .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:after {
	-webkit-transform: scaleX(0);
			transform: scaleX(0);
  }
  .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:after {
	margin: 0 5px;
	width: calc(100% - (5px * 2));
  }
  .frame-btn__line--flat:before {
	top: 0;
  }
  .frame-btn__line--flat:after {
	bottom: 0;
  }
  .frame-btn__line:before, .frame-btn__line:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #8167a9;
	-webkit-transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .frame-btn:hover .frame-btn__line:before, .frame-btn:hover .frame-btn__line:after {
	-webkit-transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  
.contact span{
    color: #8167a9;
}
.contact h1{
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 800px;
    font-family: 'Great Vibes';
}
.contact{
    color: #1f2029;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;


}
.contact form{
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 900px;
}

